@model GameStoreNew.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: white;">Create</h1>

<h4 style="color: white;">Game</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="color: white;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearPublished" class="control-label"></label>
                <input asp-for="YearPublished" class="form-control" />
                <span asp-validation-for="YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameArt" class="control-label"></label>
                <input asp-for="GameArt" class="form-control" />
                <span asp-validation-for="GameArt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadURL" class="control-label"></label>
                <input asp-for="DownloadURL" class="form-control" />
                <span asp-validation-for="DownloadURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CategoryId" class="control-label">Categories</label>
                <select multiple name="Categories" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperId" class="control-label"></label>
                <select asp-for="DeveloperId" class ="form-control" asp-items="ViewBag.DeveloperId">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
