@{
    ViewData["Title"] = "Home Page";
}

<style button {
       background-color: white;
       color: black;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       cursor: pointer;
       width: 100%;
       border-radius: 7px;
       }

       .block {
       display: block;
       font-family:'Segoe UI', Tahoma, sans-serif;
       color:black;
       width:100%;
       height:100px;
       background-color:white;
       text-align: center;
       border-radius:7px;
       }></style>

<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-center">
        <!--<h1 class="display-4">Welcome</h1>-->
        <h1 class="display-4" style="color: white">Welcome To GameGalaxy</h1>
        <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
        <nav>
            <a asp-controller="Games" asp-action="Index"><button type="button" class="btn btn-primary btn-lg btn-block" name="categorybutton"> Start </button></a>
            <!--<a asp-controller="Developers" asp-action="Index"><button type="button" class="btn btn-primary btn-lg btn-block" name="categorybutton"> Developers </button></a>
            <a asp-controller="Categories" asp-action="Index"><button type="button" class="btn btn-primary btn-lg btn-block" name="categorybutton"> Categories </button></a>-->
        </nav>
    </div>
</body>